[Unit]
Description=The webhook ingest for voting on a community's favourite quote.

[Service]
Type=simple
# WorkingDirectory=
# ExecStart=
Restart=always
RestartSec=5