.center {
	text-align: center;
}

.emoji {
	width: 25px;
	vertical-align: inherit;
}

.quote {
	vertical-align: middle;
}

.container {
	flex-direction: column-reverse;
	display: flex;
}

.container hr {
	width: 100%;
}