button {
	background: var(--blurple);
	border-color: transparent;
	border-radius: var(--medium-border-radius);
	border-style: solid;
	border-width: 2px;
	color: var(--light-text);
	cursor: pointer;
	font-family: var(--fonts);
	font-size: larger;
	margin-bottom: 5px;
	outline: none;
	padding: 5px 10px;
	user-select: none;
}
button:hover:not(:disabled) {
	border-color: var(--accent-neutral);
}
button:active:not(:disabled) {
	border-color: var(--accent-positive);
}
button:disabled {
	background-color: var(--blurple-faded);
	color: #4D4D4D;
}


input[type="text"] {
	background: var(--tertiary-background);
	border-color: var(--accent-neutral);
	border-radius: var(--medium-border-radius);
	border-style: solid;
	color: var(--light-text);
	font-family: var(--fonts);
	font-size: larger;
	font-weight: bold;
	margin-bottom: 10px;
	outline: none;
	padding: 5px;
}
input[type="text"]:focus,
input[type="text"]:active {
	border-color: var(--accent-positive);
}

a {
	color: var(--accent-neutral);
}
a:visited {
	color: var(--accent-positive);
}